<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jiraProfiles" type="TimeReport.Core.Configuration.JiraProfilesConfigurationSection, TimeReport.Core" restartOnExternalChanges="false"/>
    <section name="toggleProfile" type="TimeReport.Core.Configuration.ToggleConfigurationSection, TimeReport.Core" restartOnExternalChanges="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TimeReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Jira.Server" value="https://teamvelocitymarketing.atlassian.net/" />
    <add key="defaultWorkLogMessage" value="logging via powershell"/>
    <add key="TestingKey" value="#testing"/>
  </appSettings>

   <jiraProfiles>
    <jiraProfile
      profile="TV"
      login="eugen.crisac"
      password=""
      name="eugen.crisac"
      url="https://teamvelocitymarketing.atlassian.net/rest/api/2/issue/{0}/worklog" />
  </jiraProfiles>

  <toggleProfile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 profile="monsato"
                 login="eugen.crisac@monsato.md"
                 password=""
                 workspace="617655" url="https://toggl.com/reports/api/v2/summary?user_agent=jira" />
  
  <userSettings>
    <TimeReport.Properties.Settings>
      <setting name="UserNameJira" serializeAs="String">
        <value />
      </setting>
      <setting name="UserNameToggl" serializeAs="String">
        <value />
      </setting>
      <setting name="PasswordJira" serializeAs="String">
        <value />
      </setting>
      <setting name="PasswordToggl" serializeAs="String">
        <value />
      </setting>
    </TimeReport.Properties.Settings>
  </userSettings>
</configuration>